
body{
    background: #f0f0f0 !important;
}


/* header styles */

.logo-below{
    font-size: .52rem !important;
    padding-left: 2px;
}
#asc-row{
    min-height: 50px !important;
    height: auto;
}
a{
  text-decoration: none !important;  
}
 
.login-text{
    padding: 4.2px 25px;
    background: #fff;
    font-weight: bold;
}

.search{
    display: flex;
    padding: 0 !important;
    margin-bottom: 4px;
}

.search>input{
    width: 95%;
    margin-top: 5px;
    border: none;
    height: 28px;
}
[type=search]:focus{
    outline: skyblue;
}
[placeholder]{
    padding-left: 10px;
    font-weight: normal;
    font-size: 0.9rem;
}
.search-btn{
    border: none;
    background: #FFF;
    line-height: 0;
    height: 28px;
    margin-top: 5px;
}
.search-btn:hover, .search-btn:focus{
    outline: none;
    cursor: pointer;
}

.more-link>svg{
    transform: rotate(270deg);
}

.more-link:hover > svg{
    transition: transform 300ms ease-in-out;
    transform: rotate(90deg);
}

.cart-link:hover{
    cursor: pointer;
}
/* header styles completed */

/* starting accessories list styles */

.accessories-list{
    height: auto;
    background: #fff;
    box-shadow: 0 1px rgb(230, 220, 220);
    overflow-x: hidden;
}
.accessories-list.container{
    height: auto;
}
.asc-item{
    max-height: 112px !important;
}
.asc-item>h6{
    font-size: 0.7rem !important;
    font-weight: 550;
}

.asc-item>h6>svg{
    transform: rotate(270deg);
}
.asc-item>h6:hover {
    color: rgb(15, 147, 223);
}

.asc-item>h6:hover > svg {
    transition: transform 300ms ease-in-out;
    transform: rotate(90deg);
}
.asc-item>h6:hover > svg path{
    fill: rgb(15, 147, 223);
}


.asc-item{
    margin: auto auto;
    cursor: pointer;
    max-width: 84px;
    max-height: 98px;
    width: 100%;
    height: 100%;
}

.asc-item>img{
    max-width: 84px;
    width: 100%;
    height: auto;
}

/* accessories style completed */

/* start styling main */


.dod{
    height: fit-content;
    width: 88%;
    max-width: 88% !important;
    margin: 16px auto;
    display: flex;
}

.dod-view-btn{
    margin-left: auto;
    margin-right: 15px;
}

.timer{
    margin-left: 15px;
}

.dod-header{
    display: flex;
    height: 42px;
    align-items: center;
    width: 100%;
}

.dod-list{
    width: 84%;
    max-width: 1000px !important;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 1px #fff;
    height: fit-content;
    overflow-x: hidden;
    text-overflow: ellipsis;
    
}

.dod-item-img>img{
    max-width: 100px;
    width: 100%;
    height: 125px;
    margin: 0 auto ;
}

.dod-item-row{
    overflow-x:hidden;
    flex-wrap: nowrap !important;
    text-overflow:ellipsis;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    position: relative;
}

.scroll-icon{
    position: absolute;
    right: 0;
    top: 30%;
    width: 60px;
    height: 90px;
    background-color: rgba(248, 247, 247, 0.966);
    border-radius: 4px 0 0 4px;
    box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
    text-align:center;
    cursor: pointer;
}
.scroll-icon>svg{
    margin-top: 50%;
    margin-right: 30%;
    transform: rotate(180deg);
}


.dod-item-row::-webkit-scrollbar {
    display: none;
}

.ad{
    width: 16%;
    height: 286px;
    border: 1px solid salmon;
    background-color: #fff;
    border: 1px solid #fff;
  
}

.ad>img{
    object-fit: cover;
}

.row.dod-title{
    height: 47px;
}
.dod-item-img{
    cursor: pointer;
    width: 110px;
    height: 125px;
}
.dod-list>div>h3{
    margin: auto 5px;
    font-size: 1.3rem !important;
    font-weight: 530;
    white-space: nowrap;
}

button{
    white-space: nowrap !important;
}
.data-item-img>img{
    object-fit: cover !important;
}

@media (min-width: 576px){
    .col-sm-2 {
        min-width: 120px !important;
    }
}

.dod-item-cont{
    width: 130px;
    height: 222px;
}

.dod-item-text{
    font-size: 14px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;   
    margin-top: 10px;
    cursor: pointer;
}
.dod-item-off{
    font-size: 12px !important;
    margin-top: 6px;
}

.dod-item-deal{
    cursor: pointer;
}

/* deals of the day styles over here */

.electronics-list{
    width: 88% !important;
    margin: 20px auto;
} 



.has-list{
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 1px #fff;
    height: fit-content;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100% !important;
}

.has-header>div>h3{
    margin: auto 0;
    font-size: 1.3rem !important;
    font-weight: 530;
    white-space: nowrap
}
.has-header>div>div{
    font-size: .75rem !important;
}

.has-header{
    height: 56px;
}